@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pethra';
  src: url('./assets/Pethra.otf') format('opentype');
}

.font-pethra {
  font-family: 'Pethra', sans-serif;
}